<section id="about" class="ptb ptb-sm-80">
    <div class="container">
        <div class="row mt-80">
            <div class="col-md-6 mb-30">
                <div class="spacer-45"></div>
                <h4>Une méthode douce d'éducation canine</h4>
                <div class="spacer-30"></div>
                <p class="lead">Parce qu'il n'y a rien de plus beau que la <strong>relation entre un maître et son chien</strong>, pourquoi ne pas faire en sorte que celle-ci se passe au mieux ?</p>
                <div class="spacer-15"></div>
                <p class="lead">Avec des méthodes naturelles de <strong>renforcement positif</strong>, j'interviens au cœur de cette relation pour que vous puissiez la vivre pleinement.</p>
                <div class="spacer-15"></div>
                <p class="lead">A travers des cours personnalisés, à la maison, en <strong>individuel en forêt ou en collectif</strong>, nous ferons en sorte de <strong>révéler le meilleur</strong> de votre chien.</p>
                <div class="spacer-30"></div>
                <a class="btn btn-md btn-black">En savoir plus sur notre méthode</a>
            </div>
            <div class="wow fadeIn col-md-6">
                <img src="{{ asset('img/gwenvael-dronka-hell.png') }}" class="img-fluid" alt="Gwenvael Dronka avec Hell" />
            </div>
        </div>
    </div>
</section>
