{% extends "website/layout.html.twig" %}

{% block title_seo parent() ~ ' - Accueil' %}
{% block description_seo '' %}

{% block content %}
    <section id="intro">
        <div class="flexslider fullscreen-carousel hero-slider-1 ">
            <ul class="slides">
                <li data-slide="dark-slide">
                    <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="{{ asset('img/bg-home.jpg') }}">
                        <div class="js-Slide-fullscreen-height container">
                            <div class="intro-content">
                                <div class="intro-content-inner">
                                    <div class="spacer-90"></div>
                                    <h1>Une méthode douce</h1>
                                    <h2>D'éducation canine</h2>
                                    <div class="spacer-90"></div>
                                    <div class="spacer-90"></div>
                                    <a href="{{ path('website_home', {'_fragment': 'about'}) }}" class="btn btn-md btn-white">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>
    {% include 'website/fragment/_about.html.twig' %}
    {% include 'website/fragment/_counter.html.twig' %}
    {% include 'website/fragment/_lessons.html.twig' %}
{% endblock %}
