<header id="header" class="header header-dark header-prepare">
    <div class="container header-inner">
        <div class="logo">
            <h3>
                <a href="{{ path('website_home') }}">Une Méthode Douce</a>
            </h3>
        </div>
        <div class="nav-mobile nav-bar-icon">
            <span></span>
        </div>
        <div class="nav-menu">
            <ul class="nav-menu-inner">
                {% for menu in menus %}
                    <li>
                        <a href="{{ path(menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
