<ul class="list-none social">
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
</ul>
