<section id="service" class="ptb ptb-sm-80">
    <div class="wow fadeIn container text-center">
        <h3>Nos cours</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-6 mb-45">
                <h5>Cours personnalisés</h5>
                <p>à la maison</p>
                <img src="{{ asset('img/gwenvael-dronka-cours-collectifs.jpg') }}" class="img-fluid" alt="Gwenvael Dronka - Cours personnalisés"/>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6 mb-45">
                <h5>Cours indivuduels</h5>
                <p>en forêt</p>
                <img src="{{ asset('img/gwenvael-dronka-cours-collectifs.jpg') }}" class="img-fluid" alt="Gwenvael Dronka - Cours individuels"/>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6 mb-45">
                <h5>Cours collectifs</h5>
                <p>dans l'un de nos parcs</p>
                <img src="{{ asset('img/gwenvael-dronka-cours-collectifs.jpg') }}" class="img-fluid" alt="Gwenvael Dronka - Cours collectifs"/>
            </div>
        </div>
        <p class="align-content-center">
            <a class="btn btn-md btn-black">En savoir plus</a>
        </p>
    </div>
</section>
